<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">

    <link rel="stylesheet" href="../../dependencies/bootstrap/4.3.1/bootstrap.css">
    <link rel="stylesheet" href="../../dependencies/ui-bootstrap/3.0.6/ui-bootstrap-csp.css">
    <link rel="stylesheet" href="../../dependencies/ui-grid/4.7.1/ui-grid.css">
    <link rel="stylesheet" href="../../styles/button.css">
    <link rel="stylesheet" href="../../styles/main-styles.css">
    <style type="text/css">
        [ng\:cloak], [ng-cloak], .ng-cloak {
            display: none !important;
        }
    </style>
    <title>CitiScreening Records Management System</title>
</head>
<body ng-app="duplicate-records" ng-cloak class="ng-cloak">
<div ng-controller="AppController">
    <p class="h5 text-center" style="padding-top: 20px">Duplicate Records</p>
    <div class="container">
        <hr class="my-4" />
        <div class="container grid-box">
            <div class="row px-3 py-2"></div>
            <div id="grid1" class="update-grid" ui-grid="gridOptions1" ui-grid-resize-columns ui-grid-pagination ng-if="recordType === 'CUSTOMER'"></div>
            <div id="grid2" class="update-grid" ui-grid="gridOptions2" ui-grid-resize-columns ui-grid-pagination ng-if="recordType === 'TRANSACTION'"></div>
            <div class="row" style="width: 100%;">
                <div class="col-5">
                    <p ng-if="recordType === 'CUSTOMER'" class="my-1">Current page: {{ grid1Api.pagination.getPage() }} of {{ grid1Api.pagination.getTotalPages() }}</p>
                    <p ng-if="recordType === 'TRANSACTION'" class="my-1">Current page: {{ grid2Api.pagination.getPage() }} of {{ grid2Api.pagination.getTotalPages() }}</p>
                </div>
                <div class="col-7 h4 font-weight-bold">
                    <a href="" class="page-button" ng-click="grid1Api.pagination.seek(1); grid2Api.pagination.seek(1)" style="color: #ffffff;">&#8249;&#8249;</a>
                    <a href="" class="page-button round" ng-click="grid1Api.pagination.previousPage(); grid2Api.pagination.previousPage()" style="color: #ffffff;">&#8249;</a>
                    <a href="" class="page-button round" ng-click="grid1Api.pagination.nextPage(); grid2Api.pagination.nextPage()" style="color: #ffffff;">&#8250;</a>
                    <a href="" class="page-button" ng-click="grid1Api.pagination.seek(grid1Api.pagination.getTotalPages());
                grid2Api.pagination.seek(grid2Api.pagination.getTotalPages())" style="color: #ffffff;">&#8250;&#8250;</a>
                </div>
            </div>
        </div>
        <div class="row px-3 py-2">
            <div class="row ml-auto mr-0">
                <div class="m-2 p-1" style="width: auto;">
                    <button class="btn btn-md btn-primary confirm-button" ng-click="forceCreate()">Force Create</button>
                </div>
                <div class="m-2 p-1" style="width: auto;">
                    <button class="btn btn-md btn-primary" ng-click="cancel()">Cancel</button>
                </div>
            </div>
        </div>
        <div class="row my-2"></div>
    </div>
</div>

<script src="../../dependencies/jquery/3.3.1/jquery-3.3.1.js"></script>
<script src="../../dependencies/jquery-ui/1.12.0/jquery-ui.js"></script>
<script src="../../dependencies/popper/1.14.7/popper.js"></script>
<script src="../../dependencies/bootstrap/4.3.1/bootstrap.js"></script>

<script src="../../dependencies/angularjs/1.7.7/angular.js"></script>
<script src="../../dependencies/angularjs/1.7.7/angular-touch.js"></script>
<script src="../../dependencies/angularjs/1.7.7/angular-animate.js"></script>
<script src="../../dependencies/angularjs/1.7.7/angular-aria.js"></script>
<script src="../../dependencies/ui-bootstrap/3.0.6/ui-bootstrap-tpls.js"></script>

<script src="../../dependencies/ui-grid/4.7.1/csv.js"></script>
<script src="../../dependencies/ui-grid/4.7.1/pdfmake.js"></script>
<script src="../../dependencies/ui-grid/4.7.1/vfs_fonts.js"></script>
<script src="../../dependencies/ui-grid/4.7.1/lodash.min.js"></script>
<script src="../../dependencies/ui-grid/4.7.1/jszip.min.js"></script>
<script src="../../dependencies/ui-grid/4.7.1/excel-builder.dist.js"></script>
<script src="../../dependencies/ui-grid/4.7.1/ui-grid.js"></script>
<script src="../../scripts/shareddata.js"></script>
<script src="../../scripts/duplicate-records.js"></script>
</body>
</html>