<div class="login-form">
    <form name="form" ng-submit="login()" roles="form">
        <h3 class="text-center mb-3 font-weight-bold">Sign in</h3>
        <div class="form-group">
            <input type="text" name="username" ng-model="username" placeholder="Username" class="form-control" required="required">
            <span ng-show="form.username.$dirty && form.username.$error.required">Username is required</span>
        </div>

        <div class="form-group">
            <input type="password" name="password" ng-model="password" placeholder="Password" class="form-control" required="required">
            <span ng-show="form.password.$dirty && form.password.$error.required">Password is required</span>
        </div>

        <div class="form-group">
            <button class="btn btn-lg btn-primary btn-block form-actions font-weight-bold" type="submit" ng-disabled="form.$invalid">Login</button>
        </div>
        <div class="clearfix">
            <label class="checkbox-inline"><input type="checkbox" value="remember-me"> Remember me</label>
        </div>
    </form>
</div>