<h3 class="text-center font-weight-bold" style="padding-bottom: 30px">Archived Records</h3>

<div class="container" style="background-color:#F3F3F3; border-color: #011a52; border-style: solid; border-radius: 25px;">
    <div class="row px-3 py-2" style="">
        <div class="m-2 p-1" style="width: auto;">
            <select class="bootstrap-select form-control form-control-sm" name="recordType" ng-model="recordType">
                <option value="CUSTOMER">Customer Screening</option>
                <option value="TRANSACTION">Transaction Screening</option>
            </select>
        </div>
        <div class="m-2 p-1" style="width: auto;">
        </div>
        <div class="row ml-auto mr-0">
            <div class="m-2 p-1" style="width: auto;">
                <button class="btn btn-md btn-primary" ng-disabled="!areRowsSelected()" ng-click="restore()">Restore</button>
            </div>
            <div class="my-2 ml-2 p-1" ng-if="isAdmin()" style="width: auto;">
                <button class="btn btn-md btn-primary"  ng-click="clear()">Clear</button>
            </div>
        </div>
    </div>



    <div id="grid1" class="grid" ui-grid-auto-resize ui-grid="gridOptions1" ui-grid-resize-columns ui-grid-pagination ui-grid-selection
         ui-grid-exporter ng-if="recordType === 'CUSTOMER'"></div>
    <div id="grid2" class="grid" ui-grid-auto-resize ui-grid="gridOptions2" ui-grid-resize-columns ui-grid-pagination ui-grid-selection
         ui-grid-exporter ng-if="recordType === 'TRANSACTION'"></div>

    <p ng-if="recordType === 'CUSTOMER'" class="my-1">Current page: {{ grid1Api.pagination.getPage() }} of {{ grid1Api.pagination.getTotalPages() }}</p>
    <p ng-if="recordType === 'TRANSACTION'" class="my-1">Current page: {{ grid2Api.pagination.getPage() }} of {{ grid2Api.pagination.getTotalPages() }}</p>

    <!--SEPARATE BUTTONS FOR EACH TABLE-->
    <!--<button ng-if="recordType === 'CUSTOMER'" class="btn btn-med btn-primary my-1" ng-click="grid1Api.pagination.previousPage()">
        previous page
    </button>
    <button ng-if="recordType === 'CUSTOMER'" class="btn btn-med btn-primary my-1" ng-click="grid1Api.pagination.nextPage()">
        next page
    </button>
    <button ng-if="recordType === 'CUSTOMER'" class="btn btn-med btn-primary my-1" ng-click="grid1Api.pagination.seek(1)">
        Go to Page 1
    </button>

    <button ng-if="recordType === 'TRANSACTION'" class="btn btn-med btn-primary my-1" ng-click="grid2Api.pagination.previousPage()">
        previous page
    </button>
    <button ng-if="recordType === 'TRANSACTION'" class="btn btn-med btn-primary my-1" ng-click="grid2Api.pagination.nextPage()">
        next page
    </button>
    <button ng-if="recordType === 'TRANSACTION'" class="btn btn-med btn-primary my-1" ng-click="grid2Api.pagination.seek(1)">
        Go to Page 1
    </button>-->

    <!--SAME BUTTONS FOR BOTH TABLES-->
    <button class="btn btn-med btn-primary my-1" ng-click="grid1Api.pagination.previousPage(); grid2Api.pagination.previousPage()">
        previous page
    </button>
    <button class="btn btn-med btn-primary my-1" ng-click="grid1Api.pagination.nextPage(); grid2Api.pagination.nextPage()">
        next page
    </button>
    <button class="btn btn-med btn-primary my-1" ng-click="grid1Api.pagination.seek(1); grid2Api.pagination.seek(1)">
        Go to Page 1
    </button>
    <div class="row my-2"></div>
</div>
<br>
