<h3 class="text-center font-weight-bold" style="padding-bottom: 30px">Archived Records</h3>

<div class="container grid-box">
    <div class="row px-3 py-2" style="">
        <div class="m-2 p-1" style="width: auto;">
            <select class="bootstrap-select form-control form-control-sm" name="recordType" ng-model="recordType">
                <option value="CUSTOMER">Customer Screening</option>
                <option value="TRANSACTION">Transaction Screening</option>
            </select>
        </div>
        <div style="width: auto;">
            <form name="form" class="form-signin" ng-submit="search()" roles="form">
                <div class="row">
                    <div class="my-2 ml-2 p-1" style="width: auto;">
                        <input class="form-control" type="text" name="searchTerms" ng-model="searchTerms" placeholder="Enter search terms">
                    </div>
                    <div class="my-2 mr-4 p-1" style="width: auto;">
                        <button type="submit" style="border-radius: 10px;">Search</button>
                    </div>
                    <div class="my-2 p-1 form-check">
                        <input class="form-check-input" type="radio" ng-value="true" id="any" ng-model="any" checked>
                        <label class="form-check-label" for="any">
                            Any
                        </label><br />
                        <input class="form-check-input" type="radio" ng-value="false" id="all" ng-model="any">
                        <label class="form-check-label" for="all">
                            All
                        </label>
                    </div>
                    <div class="my-2 p-1 form-group">
                        <span class="switch switch-sm">
                            <input type="checkbox" class="switch" id="switch-sm" ng-model="exactMatch">
                            <label for="switch-sm">Exact Match</label>
                        </span>
                    </div>
                </div>
            </form>
        </div>
        <div class="m-2 p-1" style="width: auto;">
        </div>
        <div class="row ml-auto mr-0">
            <div class="m-2 p-1" style="width: auto;">
                <button class="btn btn-md btn-primary" ng-disabled="!areRowsSelected()" ng-click="showRestoreModal()">Restore</button>
            </div>
            <div class="my-2 ml-2 p-1" ng-if="isAdmin()" style="width: auto;">
                <button class="btn btn-md btn-primary" ng-disabled="!areRowsSelected()"  ng-click="showClearModal()">Clear</button>
            </div>
        </div>
    </div>



    <div id="grid1" class="grid" ui-grid="gridOptions1" ui-grid-resize-columns ui-grid-pagination ui-grid-selection
         ui-grid-exporter ng-if="recordType === 'CUSTOMER'"></div>
    <div id="grid2" class="grid" ui-grid="gridOptions2" ui-grid-resize-columns ui-grid-pagination ui-grid-selection
         ui-grid-exporter ng-if="recordType === 'TRANSACTION'"></div>

    <div class="row" style="width: 100%;">
        <div class="col-5">
            <p ng-if="recordType === 'CUSTOMER'" class="my-1">Current page: {{ grid1Api.pagination.getPage() }} of {{ grid1Api.pagination.getTotalPages() }}</p>
            <p ng-if="recordType === 'TRANSACTION'" class="my-1">Current page: {{ grid2Api.pagination.getPage() }} of {{ grid2Api.pagination.getTotalPages() }}</p>
        </div>
        <div class="col-7">
            <a href="" class="page-button" ng-click="grid1Api.pagination.seek(1); grid2Api.pagination.seek(1)" style="color: #ffffff;">&#8249;&#8249;</a>
            <a href="" class="page-button round" ng-click="grid1Api.pagination.previousPage(); grid2Api.pagination.previousPage()" style="color: #ffffff;">&#8249;</a>
            <a href="" class="page-button round" ng-click="grid1Api.pagination.nextPage(); grid2Api.pagination.nextPage()" style="color: #ffffff;">&#8250;</a>
            <a href="" class="page-button" ng-click="grid1Api.pagination.seek(grid1Api.pagination.getTotalPages());
            grid2Api.pagination.seek(grid2Api.pagination.getTotalPages())" style="color: #ffffff;">&#8250;&#8250;</a>
        </div>
    </div>
    <div class="row my-2"></div>
</div>
<br>
