<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/ui-bootstrap4@3.0.6/dist/ui-bootstrap-csp.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/angular-ui/bower-ui-grid/ui-grid.min.css">
    <link rel="stylesheet" href="../css/button.css">
    <link rel="stylesheet" href="../css/main-styles.css">
    <style type="text/css">
        [ng\:cloak], [ng-cloak], .ng-cloak {
            display: none !important;
        }
    </style>
    <title>CitiScreening Records Management System</title>
</head>
<body ng-app="duplicate-records" ng-cloak class="ng-cloak">
<div ng-controller="AppController">
    <p class="h5 text-center" style="padding-top: 20px">Duplicate Records</p>
    <div class="container">
        <hr class="my-4" />
        <div class="container grid-box">
            <div class="row px-3 py-2"></div>
            <div id="grid1" class="update-grid" ui-grid="gridOptions1" ui-grid-resize-columns ui-grid-selection
                 ui-grid-exporter ui-grid-edit ui-grid-row-edit ng-if="recordType === 'CUSTOMER'"></div>
            <div id="grid2" class="update-grid" ui-grid="gridOptions2" ui-grid-resize-columns ui-grid-selection
                 ui-grid-exporter ui-grid-edit ui-grid-row-edit ng-if="recordType === 'TRANSACTION'"></div>
            <div class="row px-3 py-2"></div>
        </div>
        <div class="row px-3 py-2">
            <div class="row ml-auto mr-0">
                <div class="m-2 p-1" style="width: auto;">
                    <button class="btn btn-md btn-primary confirm-button" ng-click="forceCreate()">Force Create</button>
                </div>
                <div class="m-2 p-1" style="width: auto;">
                    <button class="btn btn-md btn-primary" ng-click="cancel()">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.js"
        integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"
        integrity="sha256-eGE6blurk5sHj+rmkfsGYeKyZx3M4bG+ZlFyA7Kns7E=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.7/angular.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.7/angular-touch.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.7/angular-animate.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.7/angular-aria.js"></script>
<script src="https://cdn.jsdelivr.net/npm/ui-bootstrap4@3.0.6/dist/ui-bootstrap-tpls.js"></script>

<script src="http://ui-grid.info/docs/grunt-scripts/csv.js"></script>
<script src="http://ui-grid.info/docs/grunt-scripts/pdfmake.js"></script>
<script src="http://ui-grid.info/docs/grunt-scripts/vfs_fonts.js"></script>
<script src="http://ui-grid.info/docs/grunt-scripts/lodash.min.js"></script>
<script src="http://ui-grid.info/docs/grunt-scripts/jszip.min.js"></script>
<script src="http://ui-grid.info/docs/grunt-scripts/excel-builder.dist.js"></script>
<script src="https://cdn.jsdelivr.net/gh/angular-ui/bower-ui-grid/ui-grid.min.js"></script>
<script>
    'use strict';
    var app = angular.module('duplicate-records', ['ui.grid', 'ui.grid', 'ui.grid.resizeColumns', 'ui.grid.selection', 'ui.grid.exporter',
        'ui.grid.edit', 'ui.grid.rowEdit', 'ui.bootstrap']);

    app.controller('AppController', ['$window', '$scope', 'uiGridConstants', '$interval', '$uibModal',
    function($window, $scope, uiGridConstants, $interval, $uibModal) {
        $scope.recordType = $window.opener.parentScope.recordType;
        $scope.rowData = $window.opener.parentScope.duplicateRows;

        var xsw = 90;
        var xxsw = xsw / 2;
        var sw = 2 * xsw;
        var mw = 3 * xsw;
        var lw = 4 * xsw;
        var xlw = 4.5 * xsw;

        function getHistory(id) {
            var history = null;
            angular.forEach($scope.rowData, function(value, key) {
                if (value.id === id) {
                    history = value.history;
                }
            });

            return history;
        }

        $scope.showHistoryModal = function(id) {
            var history = getHistory(id);
            var historyModalInstance = $uibModal.open({
                animation: true,
                ariaLabelledBy: 'modal-title',
                ariaDescribedBy: 'modal-body',
                templateUrl: 'history-modal.html',
                controller: function($uibModalInstance, $scope, modalData) {
                    $scope.historyData = modalData.historyData;

                    $scope.ok = function () {
                        $uibModalInstance.close();
                    };
                },
                size: 'md',
                resolve: {
                    modalData: {
                        historyData: history
                    }
                }
            });
        };

        $scope.gridOptions1 = {
            enableHorizontalScrollbar: uiGridConstants.scrollbars.WHEN_NEEDED,
            enableVerticalScrollbar: uiGridConstants.scrollbars.WHEN_NEEDED,
            enableColumnResizing: true,
            enableSorting: true,
            enableFullRowSelection: true,
            selectionRowHeaderWidth: 35,
            rowHeight: 35,
            //paginationPageSizes: [10, 20, 50],
            enablePaginationControls: false,
            paginationPageSize: 15,
            showGridFooter:true,
            enableSelectAll: true,
            columnDefs: [
                {field: 'id', displayName: 'ID', width: xxsw, enableSorting: false, enableHiding: false},
                {field: 'csiId', displayName: 'CSI ID', width: xsw, enableHiding: false},
                {field: 'csInstance', displayName: 'CS Instance', width: sw, enableHiding: false},
                {field: 'businessId', displayName: 'BUSINESS ID', width: sw, enableHiding: false},
                {field: 'bizUnitId', displayName: 'BIZ UNIT ID', width: sw, enableHiding: false},
                {field: 'productId', displayName: 'PRODUCT ID', width: sw, enableHiding: false},
                {field: 'bizProdId', displayName: 'BIZ PROD ID', width: sw, enableHiding: false},
                {field: 'cxScreeningBusinessUnitName', displayName: 'Cx Screening Business Unit Name', width: lw, enableHiding: false},
                {field: 'cxBusinessGreenzone', displayName: 'Cx Business Greenzone', width: mw, enableHiding: false},
                {field: 'rulesetMapped', displayName: 'Ruleset Mapped', width: sw, enableHiding: false},
                {field: 'region', displayName: 'Region', width: xsw, enableHiding: false},
                {field: 'country', displayName: 'Country', width: sw, enableHiding: false},
                {field: 'sector', displayName: 'Sector', width: xsw, enableHiding: false},
                {field: 'workflowFlag', displayName: 'Workflow Flag', width: sw, enableHiding: false},
                {field: 'workflowInstance', displayName: 'Workflow Instance', width: sw, enableHiding: false},
                {field: 'wfBusinessUnitNameDisplayValue', displayName: 'WF Business Unit Name Display Value', width: lw, enableHiding: false},
                {field: 'wfBusinessGreenzone', displayName: 'WF Business Greenzone', width: mw, enableHiding: false},
                {field: 'connectivityProtocol', displayName: 'Connectivity Protocol', width: mw, enableHiding: false},
                {field: 'interfaceAppId', displayName: 'Interface App ID', width: sw, enableHiding: false},
                {field: 'interfaceApplicationName', displayName: 'Interface Application Name', width: mw, enableHiding: false},
                {field: 'operationEntity', displayName: 'Operation Entity', width: sw, enableHiding: false},
                {field: 'opsComplianceContacts', displayName: 'Ops Compliance Contacts', width: mw, enableHiding: false},
                {field: 'cwVersion', displayName: 'Cw V1/V2', width: 1.5 * xsw, enableHiding: false},
                {field: 'gomCompliant', displayName: 'GOM Compliant?', width: sw, enableHiding: false},
                {field: 'cwUatContactName', displayName: 'Cw UAT Contact Name', width: mw, enableHiding: false},
                {field: 'sourceTechContact', displayName: 'Source Tech Contact', width: mw, enableHiding: false},
                {field: 'impactToBusiness', displayName: 'Impact To Business', width: mw, enableHiding: false},
                {field: 'businessEscalationPointOfContact', displayName: 'Business Escalation Point of Contact', width: lw, enableHiding: false},
                {field: 'timezone', displayName: 'Timezone', width: sw, enableHiding: false},
                {field: 'history', displayName: 'History', width: sw, enableHiding: false,
                    cellTemplate: '<div align="center"><a ng-click="grid.appScope.showHistoryModal(row.entity.id)"><img src="images/history-img.png" height="34" width="34"></a></div>'}
            ],
            onRegisterApi: function (gridApi) {
                $scope.grid1Api = gridApi;
            },
            data: $scope.rowData
        };

        $scope.gridOptions2 = {
            enableHorizontalScrollbar: uiGridConstants.scrollbars.WHEN_NEEDED,
            enableVerticalScrollbar: uiGridConstants.scrollbars.WHEN_NEEDED,
            enableColumnResizing: true,
            enableSorting: true,
            enableFullRowSelection: true,
            selectionRowHeaderWidth: 35,
            rowHeight: 35,
            //paginationPageSizes: [10, 20, 50],
            enablePaginationControls: false,
            paginationPageSize: 15,
            showGridFooter:true,
            enableSelectAll: true,
            columnDefs: [
                {field: 'id', displayName: 'ID', width: xxsw, enableSorting: false, enableHiding: false},
                {field: 'businessId', displayName: 'BUSINESS ID', width: sw, enableHiding: false},
                {field: 'productId', displayName: 'PRODUCT ID', width: sw, enableHiding: false},
                {field: 'csiId', displayName: 'CSI ID', width: xsw, enableHiding: false},
                {field: 'uniqueProductId', displayName: 'Unique Product ID', width: sw, enableHiding: false},
                {field: 'txScreeningBusinessUnitName', displayName: 'Tx Screening Business Unit Name', width: lw, enableHiding: false},
                {field: 'rulesetMapped', displayName: 'Ruleset Mapped', width: sw, enableHiding: false},
                {field: 'region', displayName: 'Region', width: xsw, enableHiding: false},
                {field: 'country', displayName: 'Country', width: sw, enableHiding: false},
                {field: 'sector', displayName: 'Sector', width: xsw, enableHiding: false},
                {field: 'workflowFlag', displayName: 'Workflow Flag', width: sw, enableHiding: false},
                {field: 'workflowInstance', displayName: 'Workflow Instance', width: sw, enableHiding: false},
                {field: 'wfBusinessGreenzone', displayName: 'WF Business Greenzone', width: mw, enableHiding: false},
                {field: 'interfaceAppId', displayName: 'Interface App ID', width: sw, enableHiding: false},
                {field: 'interfaceApplicationName', displayName: 'Interface Application Name', width: mw, enableHiding: false},
                {field: 'operationEntity', displayName: 'Operation Entity', width: sw, enableHiding: false},
                {field: 'connectivityProtocol', displayName: 'Connectivity Protocol', width: mw, enableHiding: false},
                {field: 'workflowOperationsContacts', displayName: 'Workflow Operations Contacts', width: mw, enableHiding: false},
                {field: 'sourceTechContacts', displayName: 'Source Tech Contacts', width: mw, enableHiding: false},
                {field: 'businessHotline', displayName: 'Business Hotline', width: mw, enableHiding: false},
                {field: 'businessEscalationPointOfContact', displayName: 'Business Escalation Point of Contact', width: lw, enableHiding: false},
                {field: 'impactToProductProcessor', displayName: 'Impact to Product Processor', width: mw, enableHiding: false},
                {field: 'productProcessor', displayName: 'Product Processor', width: sw, enableHiding: false},
                {field: 'hotlineNumber', displayName: 'Hotline Number', width: sw, enableHiding: false},
                {field: 'escalationPath1stLevelSupport', displayName: 'Escalation Path 1st Level Support', width: lw, enableHiding: false},
                {field: 'escalationPath2ndLevelSupport', displayName: 'Escalation Path 2nd Level Support', width: lw, enableHiding: false},
                {field: 'firstLevelEscalation', displayName: '1st Level Escalation', width: mw, enableHiding: false},
                {field: 'secondLevelEscalation', displayName: '2nd Level Escalation', width: mw, enableHiding: false},
                {field: 'productProcessorGroupDl', displayName: 'Product Processor Group DL', width: mw, enableHiding: false},
                {field: 'productProcessorSnowGroupName', displayName: 'Product Processor SNOW Group Name', width: lw, enableHiding: false},
                {field: 'productProcessorScreeningResponseCutoffTime', displayName: 'Product Processor Screening Response Cutoff Time', width: xlw, enableHiding: false},
                {field: 'productProcessorStandardGreenzones', displayName: 'Product Processor Standard Greenzones', width: lw, enableHiding: false},
                {field: 'interfaceConnectivityDoc', displayName: 'Interface Connectivity Doc', width: mw, enableHiding: false},
                {field: 'retryMechanism', displayName: 'Retry Mechanism', width: sw, enableHiding: false},
                {field: 'dailyOnlineVolumesExpected', displayName: 'Daily Online Volumes Expected', width: mw, enableHiding: false},
                {field: 'scheduleForRealtimeVolumes', displayName: 'Schedule For Realtime Volumes', width: mw, enableHiding: false},
                {field: 'batchesOrPeaksForRealtimeVolumes', displayName: 'Batches or Peaks for Realtime Volumes', width: lw, enableHiding: false},
                {field: 'initialScreeningResponseSla', displayName: 'Initial Screening Response SLA', width: mw, enableHiding: false},
                {field: 'thresholdSetForTimeouts', displayName: 'Threshold Set for Timeouts', width: mw, enableHiding: false},
                {field: 'anyBatchComponent', displayName: 'Any Batch Component?', width: mw, enableHiding: false},
                {field: 'workflowOperationsWorkSchedule', displayName: 'Workflow Operations Work Schedule', width: lw, enableHiding: false},
                {field: 'history', displayName: 'History', width: sw, enableHiding: false,
                    cellTemplate: '<div align="center"><a ng-click="grid.appScope.showHistoryModal(row.entity.id)"><img src="images/history-img.png" height="34" width="34"></a></div>'}
            ],
            onRegisterApi: function (gridApi) {
                $scope.grid2Api = gridApi;
            },
            data: $scope.rowData
        };

        var historyCellTemplate = '<div align="center"><a ng-click="grid.appScope.showHistoryModal(row.entity.id)"><img src="../images/history-img.png" height="34" width="34"></a></div>';

        $scope.gridOptions1.columnDefs[0].enableCellEdit = false;
        var numCxColumns = $scope.gridOptions1.columnDefs.length;
        $scope.gridOptions1.columnDefs[numCxColumns - 1].enableCellEdit = false;
        $scope.gridOptions1.columnDefs[numCxColumns - 1].cellTemplate = historyCellTemplate;

        $scope.gridOptions2.columnDefs[0].enableCellEdit = false;
        var numTxColumns = $scope.gridOptions2.columnDefs.length;
        $scope.gridOptions2.columnDefs[numTxColumns - 1].enableCellEdit = false;
        $scope.gridOptions2.columnDefs[numTxColumns - 1].cellTemplate = historyCellTemplate;

        $scope.forceCreate = function() {
            $window.opener.parentScope.forceCreate();
            $window.close();
        };

        $scope.cancel = function () {
            $window.close();
        };
    }]);
</script>
</body>
</html>