<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/ui-bootstrap4@3.0.6/dist/ui-bootstrap-csp.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/angular-ui/bower-ui-grid/ui-grid.min.css">
    <link rel="stylesheet" href="../css/button.css">
    <link rel="stylesheet" href="../css/main-styles.css">
    <style type="text/css">
        [ng\:cloak], [ng-cloak], .ng-cloak {
            display: none !important;
        }
    </style>
    <title>CitiScreening Records Management System</title>
</head>
<body ng-app="update" ng-cloak class="ng-cloak">
<div ng-controller="AppController">
    <p class="h5 text-center" style="padding-top: 20px">Update Records</p>
    <div class="container">
        <hr class="my-4" />
        <div class="container grid-box">
            <div class="row px-3 py-2"></div>
            <div id="grid1" class="update-grid" ui-grid="gridOptions1" ui-grid-resize-columns ui-grid-pagination
                 ui-grid-exporter ui-grid-edit ui-grid-row-edit ui-grid-cellNav ng-if="recordType === 'CUSTOMER'"></div>
            <div id="grid2" class="update-grid" ui-grid="gridOptions2" ui-grid-resize-columns ui-grid-pagination
                 ui-grid-exporter ui-grid-edit ui-grid-row-edit ui-grid-cellNav ng-if="recordType === 'TRANSACTION'"></div>
            <div class="row" style="width: 100%;">
                <div class="col-5">
                    <p ng-if="recordType === 'CUSTOMER'" class="my-1">Current page: {{ grid1Api.pagination.getPage() }} of {{ grid1Api.pagination.getTotalPages() }}</p>
                    <p ng-if="recordType === 'TRANSACTION'" class="my-1">Current page: {{ grid2Api.pagination.getPage() }} of {{ grid2Api.pagination.getTotalPages() }}</p>
                </div>
                <div class="col-7 h4 font-weight-bold">
                    <a href="" class="page-button" ng-click="grid1Api.pagination.seek(1); grid2Api.pagination.seek(1)" style="color: #ffffff;">&#8249;&#8249;</a>
                    <a href="" class="page-button round" ng-click="grid1Api.pagination.previousPage(); grid2Api.pagination.previousPage()" style="color: #ffffff;">&#8249;</a>
                    <a href="" class="page-button round" ng-click="grid1Api.pagination.nextPage(); grid2Api.pagination.nextPage()" style="color: #ffffff;">&#8250;</a>
                    <a href="" class="page-button" ng-click="grid1Api.pagination.seek(grid1Api.pagination.getTotalPages());
                grid2Api.pagination.seek(grid2Api.pagination.getTotalPages())" style="color: #ffffff;">&#8250;&#8250;</a>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-8">
                <div class="row ml-auto mr-0">
                    <label for="SOEID">Please enter your SOEID:&nbsp</label>
                    <input class="resizedtextbox" type="text" id="SOEID" name="SOEID" ng-model="SOEID" required>
                </div>
                <br>
                <div class="form-group">
                    <label for="reason">Please enter the reason for editing the record(s):&nbsp</label>
                    <textarea class="form-control" style="resize: both;" rows="5" id="reason" name="reason" ng-model="reason" required></textarea>
                </div>
            </div>
            <div class="row mr-0 ml-auto">
                <div class="m-2 p-1" style="width: auto;">
                    <button class="btn btn-md btn-primary" ng-disabled="validate()" ng-click="makeChanges()"
                    >Make Changes</button>
                </div>
                <div class="m-2 p-1" style="width: auto;">
                    <button class="btn btn-md btn-primary" ng-click="cancel()">Cancel</button>
                </div>
            </div>
        </div>
        <div class="row my-2"></div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.js"
        integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"
        integrity="sha256-eGE6blurk5sHj+rmkfsGYeKyZx3M4bG+ZlFyA7Kns7E=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.7/angular.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.7/angular-touch.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.7/angular-animate.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.7/angular-aria.js"></script>
<script src="https://cdn.jsdelivr.net/npm/ui-bootstrap4@3.0.6/dist/ui-bootstrap-tpls.js"></script>

<script src="http://ui-grid.info/docs/grunt-scripts/csv.js"></script>
<script src="http://ui-grid.info/docs/grunt-scripts/pdfmake.js"></script>
<script src="http://ui-grid.info/docs/grunt-scripts/vfs_fonts.js"></script>
<script src="http://ui-grid.info/docs/grunt-scripts/lodash.min.js"></script>
<script src="http://ui-grid.info/docs/grunt-scripts/jszip.min.js"></script>
<script src="http://ui-grid.info/docs/grunt-scripts/excel-builder.dist.js"></script>
<script src="https://cdn.jsdelivr.net/gh/angular-ui/bower-ui-grid/ui-grid.min.js"></script>
<script>
    'use strict';
    var app = angular.module('update', ['ui.grid', 'ui.grid', 'ui.grid.resizeColumns', 'ui.grid.exporter',
        'ui.grid.edit', 'ui.grid.rowEdit', 'ui.grid.pagination', 'ui.bootstrap']);

    app.controller('AppController', ['$window', '$scope', 'uiGridConstants', '$interval', '$uibModal',
    function($window, $scope, uiGridConstants, $interval, $uibModal) {
        $scope.recordType = $window.opener.parentScope.recordType;
        $scope.rowData = $window.opener.parentScope.getSelectedRowData();
        $scope.numberOfEditedRecords = 0;
        var updatedColumns = [];

        function trackColumnUpdate(rowEntity, colDef) {
            for (var i = 0; i < updatedColumns.length; ++i) {
                if (updatedColumns[i].id === rowEntity.id) {
                    updatedColumns[i].updatedFields.push(colDef.field);
                    return;
                }
            }

            var updatedColumn = {
                id: rowEntity.id,
                updatedFields: [colDef.field]
            };
            updatedColumns.push(updatedColumn);
            console.log(updatedColumn);
        }

        function getUpdatedFields(id) {
            for (var i = 0; i < updatedColumns.length; ++i) {
                if (updatedColumns[i].id === id) {
                    return updatedColumns[i].updatedFields;
                }
            }

            return null;
        }

        function aggregateUpdateData(dirtyRows) {
            var updatedRecords = [];
            angular.forEach(dirtyRows, function(value, key) {
                updatedRecords.push({
                    entity: value.entity,
                    updatedFields: getUpdatedFields(value.entity.id)
                });
            });
            $scope.numberOfEditedRecords = updatedRecords.length;
            return updatedRecords;
        }

        function formatHistoryString(historyString) {
            var split = historyString.split(';');
            var formattedHistoryString = '';
            angular.forEach(split, function (value, key) {
                formattedHistoryString += (value + '\n');
            });

            return formattedHistoryString;
        }

        function getHistory(id) {
            var history = null;
            angular.forEach($scope.rowData, function(value, key) {
                if (value.id === id) {
                    history = value.history;
                }
            });

            return formatHistoryString(history);
        }

        $scope.showHistoryModal = function(id) {
            var history = getHistory(id);
            var historyModalInstance = $uibModal.open({
                animation: true,
                ariaLabelledBy: 'modal-title',
                ariaDescribedBy: 'modal-body',
                templateUrl: 'history-modal.html',
                controller: function($uibModalInstance, $scope, modalData) {
                    $scope.historyData = modalData.historyData;

                    $scope.ok = function () {
                        $uibModalInstance.close();
                    };
                },
                size: 'md',
                resolve: {
                    modalData: {
                        historyData: history
                    }
                }
            });
        };

        $scope.showUpdateConfimationModal = function() {
            var updateConfirmationModalInstance = $uibModal.open({
                animation: true,
                ariaLabelledBy: 'modal-title',
                ariaDescribedBy: 'modal-body',
                templateUrl: 'update-confirmation-modal.html',
                controller: function($uibModalInstance, $scope, modalData) {
                    var num = modalData.numUpdatedRecords;

                    $scope.successfulUpdateMessage = function () {
                        if (num === 1) {
                            return String(num) + " record has been edited.";
                        }
                        else {
                            return String(num) + " records have been edited.";
                        }
                    };

                    $scope.ok = function () {
                        $uibModalInstance.close();
                    };
                },
                size: 'md',
                resolve: {
                    modalData: {
                        numUpdatedRecords: $scope.numberOfEditedRecords
                    }
                }
            });

            updateConfirmationModalInstance.result.then(
                function () {
                    $window.close();
                },
                function () {
                    $window.close();
                }
            );
        };

        var historyCellTemplate = '<div align="center"><a ng-click="grid.appScope.showHistoryModal(row.entity.id)"><img src="../images/history-img.png" height="34" width="34"></a></div>';

        $scope.gridOptions1 = {
            enableHorizontalScrollbar: uiGridConstants.scrollbars.WHEN_NEEDED,
            enableVerticalScrollbar: uiGridConstants.scrollbars.WHEN_NEEDED,
            enableColumnResizing: true,
            enableSorting: true,
            selectionRowHeaderWidth: 35,
            rowHeight: 35,
            enablePaginationControls: false,
            paginationPageSize: 15,
            showGridFooter: true,
            rowEditWaitInterval: -1,
            onRegisterApi: function (gridApi) {
                $scope.grid1Api = gridApi;
                gridApi.edit.on.afterCellEdit($scope, function(rowEntity, colDef) {
                    trackColumnUpdate(rowEntity, colDef);
                });
            },
            data: $scope.rowData
        };

        $scope.saveRow = function(rowEntity) {
            console.log(rowEntity);
        };

        $scope.gridOptions2 = {
            enableHorizontalScrollbar: uiGridConstants.scrollbars.WHEN_NEEDED,
            enableVerticalScrollbar: uiGridConstants.scrollbars.WHEN_NEEDED,
            enableColumnResizing: true,
            enableSorting: true,
            enableFullRowSelection: true,
            selectionRowHeaderWidth: 35,
            rowHeight: 35,
            enablePaginationControls: false,
            paginationPageSize: 15,
            showGridFooter: true,
            rowEditWaitInterval: -1,
            onRegisterApi: function (gridApi) {
                $scope.grid2Api = gridApi;

                gridApi.edit.on.afterCellEdit($scope, function(rowEntity, colDef) {
                    trackColumnUpdate(rowEntity, colDef);
                });
            },
            data: $scope.rowData
        };

        $scope.gridOptions1.columnDefs = $window.opener.parentScope.gridOptions1.columnDefs;
        $scope.gridOptions2.columnDefs = $window.opener.parentScope.gridOptions2.columnDefs;
        var uneditableFields = ['id', 'region', 'gomCompliant', 'workflowFlag', 'anyBatchComponent', 'history'];

        function customizeColumnDefs(columnDefs) {
            angular.forEach(columnDefs, function (value, key) {
                if (uneditableFields.includes(value.field)) {
                    value.enableCellEdit = false;
                    if (value.field === 'history') {
                        value.cellTemplate = historyCellTemplate;
                    }
                }
            });
        }

        customizeColumnDefs($scope.gridOptions1.columnDefs);
        customizeColumnDefs($scope.gridOptions2.columnDefs);

        $scope.cancel = function () {
            $window.close();
        };

        $scope.makeChanges = function () {
            var gridApi = $scope.recordType === 'CUSTOMER' ? $scope.grid1Api : $scope.grid2Api;
            var SOEID = angular.copy($scope.SOEID);
            var reason = angular.copy($scope.reason);
            $window.opener.parentScope.updateRecords(aggregateUpdateData(gridApi.rowEdit.getDirtyRows(gridApi.grid)), SOEID, reason);
            $scope.showUpdateConfimationModal();
        };

        $scope.checkSOEID = function () {
            return !($scope.SOEID);
        };

        $scope.checkReason = function () {
            return !($scope.reason);
        };

        $scope.validate = function () {
            return (($scope.checkReason()) || ($scope.checkSOEID()));
        };
        }]);
</script>
</body>
</html>