<div class="modal fade" tabindex="-1">
    <div class="modal-dialog model-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Update History</h5>
                <button type="button" class="close" aria-label="Close" ng-click="hide()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Modal body text goes here.</p>
                <p>Data from parent: {{modalData.dataFromParent}}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" ng-click="hide()">Close</button>
            </div>
        </div>
    </div>
</div>