<div class="form-row">
    <div class="col-md-2 mb-4">
        <label for="businessID">Business ID</label>
        <input type="text" class="form-control" name="businessID" id="businessID" ng-model="txFields[0]">
    </div>
    <div class="col-md-5 mb-4">
        <label for="productID">Product ID</label>
        <input type="text" class="form-control" name="productID" id="productID" ng-model="txFields[1]">
    </div>
    <div class="col-md-5 mb-4">
        <label for="csiID">CSI ID</label>
        <input type="text" class="form-control" name="csiID" id="csiID" ng-model="txFields[2]">
    </div>
</div>
<div class="form-row">
    <div class="col-md-4 mb-3">
        <label for="uniqueProductIDWorkflowBUID">Unique_Product_ID/Workflow BU ID</label>
        <input type="text" class="form-control" name="uniqueProductIDWorkflowBUID" id="uniqueProductIDWorkflowBUID" ng-model="txFields[3]">
    </div>
    <div class="col-md-4 mb-3">
        <label for="txScreeningBusinessUnitName">Tx Screening Business Unit Name</label>
        <input type="text" class="form-control" name="txScreeningBusinessUnitName" id="txScreeningBusinessUnitName" ng-model="txFields[4]">
    </div>
    <div class="col-md-4 mb-3">
        <label for="rulesetMapped">Ruleset Mapped</label>
        <input type="text" class="form-control" name="rulesetMapped" id="rulesetMapped" ng-model="txFields[5]">
    </div>
</div>
<div class="form-row">
    <div class="col-md-4 mb-3">
        <label for="region">Region</label>
        <input type="text" class="form-control" name="region" id="region" ng-model="txFields[6]">
    </div>
    <div class="col-md-4 mb-3">
        <label for="country">Country</label>
        <input type="text" class="form-control" name="country" id="country" ng-model="txFields[7]">
    </div>
    <div class="col-md-4 mb-3">
        <label for="sector">Sector</label>
        <input type="text" class="form-control" name="sector" id="sector" ng-model="txFields[8]">
    </div>
</div>
<div class="float-right">
    <a ui-sref="create-tx.section2">
        <button class="btn btn-primary btn-lg font-weight-bold">Next</button>
    </a>
</div>
