<ng-form name="section4">
<div class="form-row">
    <div class="col-md-9 mb-4">Alphanumeric characters, spaces and commas only</div>
    <div class="col-md-3 mb-4">* means required field</div>
</div>
<div class="form-row">
    <div class="col-md-12 mb-3">
        <label for="escalationPath1stLevelSupport">Escalation Path 1st Level Support*</label>
        <input type="text" class="form-control" name="escalationPath1stLevelSupport" id="escalationPath1stLevelSupport" ng-model="txBuDetails.escalationPath1stLevelSupport" pattern="^$|^[A-Za-z0-9]+$" ng-pattern-restrict required>
        <!--<p ng-show="section4.escalationPath1stLevelSupport.$invalid && section4.escalationPath1stLevelSupport.$touched">Please fill in the Escalation Path 1st Level Support</p>-->
        <div ng-messages="section4.escalationPath1stLevelSupport.$error">
            <p ng-if="section4.$submitted" ng-message="required" style="color:maroon" role="alert">Required Field</p>
        </div>
    </div>
</div>
<div class="form-row">
    <div class="col-md-12 mb-3">
        <label for="escalationPath2ndLevelSupport">Escalation Path 2nd Level Support*</label>
        <input type="text" class="form-control" name="escalationPath2ndLevelSupport" id="escalationPath2ndLevelSupport" ng-model="txBuDetails.escalationPath2ndLevelSupport" pattern="^$|^[A-Za-z0-9]+$" ng-pattern-restrict required>
        <!--<p ng-show="section4.escalationPath2ndLevelSupport.$invalid && section4.escalationPath2ndLevelSupport.$touched">Please fill in the Escalation Path 2nd Level Support</p>-->
        <div ng-messages="section4.escalationPath2ndLevelSupport.$error">
            <p ng-if="section4.$submitted" ng-message="required" style="color:maroon" role="alert">Required Field</p>
        </div>
    </div>
</div>
<div class="form-row">
    <div class="col-md-12 mb-3">
        <label for="firstLevelEscalation">1st Level Escalation: Application Manager*</label>
        <input type="text" class="form-control" name="firstLevelEscalation" id="firstLevelEscalation" ng-model="txBuDetails.firstLevelEscalation" pattern="^$|^[A-Za-z0-9]+$" ng-pattern-restrict required>
        <!--<p ng-show="section4.firstLevelEscalation.$invalid && section4.firstLevelEscalation.$touched">Please fill in the 1st Level Escalation: Application Manager</p>-->
        <div ng-messages="section4.firstLevelEscalation.$error">
            <p ng-if="section4.$submitted" ng-message="required" style="color:maroon" role="alert">Required Field</p>
        </div>
    </div>
</div>
<div class="float-left">
    <a ui-sref="create-tx.section3">
        <button class="btn btn-primary btn-lg font-weight-bold">Previous</button>
    </a>
</div>
<div class="float-right">
    <!--<a ui-sref="create-tx.section5">-->
        <button class="btn btn-primary btn-lg font-weight-bold" ng-click="nextButton(section4)">Next</button>
    <!--</a>-->
</div>
<div class="progress custom-progress">
    <div class="progress-bar progress-color" role="progressbar" style="width: 43%;" aria-valuenow="43" aria-valuemin="0" aria-valuemax="100">43%</div>
</div>
</ng-form>
