<ng-form name="section6">
<div class="form-row">
    <div class="col-md-6 mb-3">
        <label for="productProcessorStandardGreenZones">Product Processor Standard Green Zones</label>
        <input type="text" class="form-control" name="productProcessorStandardGreenZones" id="productProcessorStandardGreenZones" ng-model="txData.fields[30]" required>
        <p ng-show="form.productProcessorStandardGreenZones.$invalid && form.productProcessorStandardGreenZones.$touched">Please fill in the Product Processor Standard Green Zones</p>
    </div>
    <div class="col-md-6 mb-3">
        <label for="interfaceConnectivityDoc">Interface/Connectivity Doc (LINK)</label>
        <input type="text" class="form-control" name="interfaceConnectivityDoc" id="interfaceConnectivityDoc" ng-model="txData.fields[31]" required>
        <p ng-show="form.interfaceConnectivityDoc.$invalid && form.interfaceConnectivityDoc.$touched">Please fill in the Interface/Connectivity Doc (LINK)</p>
    </div>
</div>
<div class="form-row">
    <!--<div class="col-md-3 mb-3">
        Retry Mechanism (Y/N)<br />
        <div style="padding-top: 13px;">
            <div class="form-check form-check-inline vertical-align">
                <input class="form-check-input" type="radio" name="workflowFlagYes" id="workflowFlagYes" value="true" ng-model="txData.fields[32]" checked>
                <label class="form-check-label" for="workflowFlagYes">Yes</label>
            </div>
            <div class="form-check form-check-inline vertical-align">
                <input class="form-check-input" type="radio" name="workflowFlagNo" id="workflowFlagNo" value="false" ng-model="txData.fields[32]">
                <label class="form-check-label" for="workflowFlagNo">No</label>
            </div>
        </div>
    </div>-->
    <div class="col-md-6 mb-3">
        <label for="retryMechanism">Retry Mechanism (Y/N)</label>
        <input type="text" class="form-control" name="retryMechanism" id="retryMechanism" ng-model="txData.fields[32]" required>
        <p ng-show="form.retryMechanism.$invalid && form.retryMechanism.$touched">Please fill in the Retry Mechanism (Y/N)</p>
    </div>
    <div class="col-md-6 mb-3">
        <label for="dailyOnlineVolumesExpected">Daily Online Volumes Expected</label>
        <input type="text" class="form-control" name="dailyOnlineVolumesExpected" id="dailyOnlineVolumesExpected" ng-model="txData.fields[33]" required>
        <p ng-show="form.dailyOnlineVolumesExpected.$invalid && form.dailyOnlineVolumesExpected.$touched">Please fill in the Daily Online Volumes Expected</p>
    </div>
</div>
<div class="form-row">
    <div class="col-md-12 mb-3">
        <label for="scheduleForRealtimeVolumes">Schedule for real-time volumes</label>
        <input type="text" class="form-control" name="scheduleForRealtimeVolumes" id="scheduleForRealtimeVolumes" ng-model="txData.fields[34]" required>
        <p ng-show="form.scheduleForRealtimeVolumes.$invalid && form.scheduleForRealtimeVolumes.$touched">Please fill in the Schedule for real-time volumes</p>
    </div>
</div>
<div class="float-left">
    <a ui-sref="create-tx.section5">
        <button class="btn btn-primary btn-lg font-weight-bold">Previous</button>
    </a>
</div>
<div class="float-right">
    <a ui-sref="create-tx.section7">
        <button class="btn btn-primary btn-lg font-weight-bold" ng-disabled="section6.$invalid">Next</button>
    </a>
</div>
<div class="progress custom-progress">
    <div class="progress-bar progress-color" role="progressbar" style="width: 71%;" aria-valuenow="71" aria-valuemin="0" aria-valuemax="100">71%</div>
</div>
</ng-form>