<ng-form name="section6">
<div class="form-row">
    <div class="col-md-9 mb-4">Alphanumeric characters, spaces and commas only</div>
    <div class="col-md-3 mb-4">* means required field</div>
</div>
<div class="form-row">
    <div class="col-md-6 mb-3">
        <label for="productProcessorStandardGreenzones">Product Processor Standard Greenzones*</label>
        <input type="text" class="form-control" name="productProcessorStandardGreenzones" id="productProcessorStandardGreenzones" ng-model="txBuDetails.productProcessorStandardGreenzones" ng-pattern-restrict="{{pattern}}" required>
        <div ng-messages="section6.productProcessorStandardGreenzones.$error">
            <p ng-if="section6.$submitted" ng-message="required" style="color:maroon" role="alert">Required Field</p>
        </div>
    </div>
    <div class="col-md-6 mb-3">
        <label for="interfaceConnectivityDoc">Interface/Connectivity Doc (LINK)*</label>
        <input type="text" class="form-control" name="interfaceConnectivityDoc" id="interfaceConnectivityDoc" ng-model="txBuDetails.interfaceConnectivityDoc" ng-pattern-restrict="{{pattern}}" required>
        <div ng-messages="section6.interfaceConnectivityDoc.$error">
            <p ng-if="section6.$submitted" ng-message="required" style="color:maroon" role="alert">Required Field</p>
        </div>
    </div>
</div>
<div class="form-row">
    <div class="col-md-6 mb-3">
        <label for="retryMechanism">Retry Mechanism (Y/N)*</label>
        <input type="text" class="form-control" name="retryMechanism" id="retryMechanism" ng-model="txBuDetails.retryMechanism" ng-pattern-restrict="{{pattern}}" required>
        <div ng-messages="section6.retryMechanism.$error">
            <p ng-if="section6.$submitted" ng-message="required" style="color:maroon" role="alert">Required Field</p>
        </div>
    </div>
    <div class="col-md-6 mb-3">
        <label for="dailyOnlineVolumesExpected">Daily Online Volumes Expected*</label>
        <input type="text" class="form-control" name="dailyOnlineVolumesExpected" id="dailyOnlineVolumesExpected" ng-model="txBuDetails.dailyOnlineVolumesExpected" ng-pattern-restrict="{{pattern}}" required>
        <div ng-messages="section6.dailyOnlineVolumesExpected.$error">
            <p ng-if="section6.$submitted" ng-message="required" style="color:maroon" role="alert">Required Field</p>
        </div>
    </div>
</div>
<div class="form-row">
    <div class="col-md-12 mb-3">
        <label for="scheduleForRealtimeVolumes">Schedule for Realtime volumes*</label>
        <input type="text" class="form-control" name="scheduleForRealtimeVolumes" id="scheduleForRealtimeVolumes" ng-model="txBuDetails.scheduleForRealtimeVolumes" ng-pattern-restrict="{{pattern}}" required>
        <div ng-messages="section6.scheduleForRealtimeVolumes.$error">
            <p ng-if="section6.$submitted" ng-message="required" style="color:maroon" role="alert">Required Field</p>
        </div>
    </div>
</div>
<div class="float-left">
    <a ui-sref="create-tx.section5">
        <button class="btn btn-primary btn-lg font-weight-bold">Previous</button>
    </a>
</div>
<div class="float-right">
    <button class="btn btn-primary btn-lg font-weight-bold" ng-click="nextButton(section6)">Next</button>
</div>
<div class="progress custom-progress">
    <div class="progress-bar progress-color" role="progressbar" style="width: 71%;" aria-valuenow="71" aria-valuemin="0" aria-valuemax="100">71%</div>
</div>
</ng-form>