<div class="form-row">
    <div class="col-md-2 mb-4">
        <label for="businessHotline">Business Hotline</label>
        <input type="text" class="form-control" name="businessHotline" id="businessHotline" ng-model="txFields[18]">
    </div>
    <div class="col-md-5 mb-4">
        <label for="businessEscalationPointOfContact">Business Escalation Point Of Contact (Name & Number)</label>
        <input type="text" class="form-control" name="businessEscalationPointOfContact" id="businessEscalationPointOfContact" ng-model="txFields[19]">
    </div>
    <div class="col-md-5 mb-4">
        <label for="impactToProductProcessor">Impact To Product Processor</label>
        <input type="text" class="form-control" name="impactToProductProcessor" id="impactToProductProcessor" ng-model="txFields[20]">
    </div>
</div>
<div class="form-row">
    <div class="col-md-4 mb-3">
        <label for="productProcessor">Product Processor</label>
        <input type="text" class="form-control" name="productProcessor" id="productProcessor" ng-model="txFields[21]">
    </div>
    <div class="col-md-4 mb-3">
        <label for="hotlineNumberOrPrimaryContactNumber">Hotline Number Or Primary Contact Number</label>
        <input type="text" class="form-control" name="hotlineNumberOrPrimaryContactNumber" id="hotlineNumberOrPrimaryContactNumber" ng-model="txFields[22]">
    </div>
    <div class="col-md-4 mb-3">
        <label for="escalationPathAndContactNumbers1st">Escalation Path And Contact Numbers 1st Level Support</label>
        <input type="text" class="form-control" name="escalationPathAndContactNumbers1st" id="escalationPathAndContactNumbers1st" ng-model="txFields[23]">
    </div>
</div>
<div class="form-row">
    <div class="col-md-4 mb-3">
        <label for="escalationPathAndContactNumbers2nd">Escalation Path And Contact Numbers 2nd Level Support</label>
        <input type="text" class="form-control" name="escalationPathAndContactNumbers2nd" id="escalationPathAndContactNumbers2nd" ng-model="txFields[24]">
    </div>
    <div class="col-md-4 mb-3">
        <label for="firstLevelEscalation">1st Level Escalation: Application Manager</label>
        <input type="text" class="form-control" name="firstLevelEscalation" id="firstLevelEscalation" ng-model="txFields[25]">
    </div>
    <div class="col-md-4 mb-3">
        <label for="secondLevelEscalation">2nd Level Escalation: One Level Above Application Manager</label>
        <input type="text" class="form-control" name="secondLevelEscalation" id="secondLevelEscalation" ng-model="txFields[26]">
    </div>
</div>
<div class="float-left">
    <a ui-sref="create-tx.section2">
        <button class="btn btn-primary btn-lg font-weight-bold">Previous</button>
    </a>
</div>
<div class="float-right">
    <a ui-sref="create-tx.section4">
        <button class="btn btn-primary btn-lg font-weight-bold">Next</button>
    </a>
</div>
<div class="progress custom-progress">
    <div class="progress-bar progress-color" role="progressbar" style="width: 45%;" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100">45%</div>
</div>
