<div class="form-row">
    <div class="col-md-2 mb-4">
        <label for="productProcessorGroupDL">Product Processor Group DL</label>
        <input type="text" class="form-control" name="productProcessorGroupDL" id="productProcessorGroupDL" ng-model="txFields[27]">
    </div>
    <div class="col-md-5 mb-4">
        <label for="productProcessorSNOWGroupName">Product Processor SNOW Group Name</label>
        <input type="text" class="form-control" name="productProcessorSNOWGroupName" id="productProcessorSNOWGroupName" ng-model="txFields[28]">
    </div>
    <div class="col-md-5 mb-4">
        <label for="productProcessorScreeningResponseCutoffTime">Product Processor Screening Response Cut-off Time</label>
        <input type="text" class="form-control" name="productProcessorScreeningResponseCutoffTime" id="productProcessorScreeningResponseCutoffTime" ng-model="txFields[29]">
    </div>
</div>
<div class="form-row">
    <div class="col-md-4 mb-3">
        <label for="productProcessorStandardGreenZones">Product Processor Standard Green Zones</label>
        <input type="text" class="form-control" name="productProcessorStandardGreenZones" id="productProcessorStandardGreenZones" ng-model="txFields[30]">
    </div>
    <div class="col-md-4 mb-3">
        <label for="interfaceConnectivityDoc">Interface/Connectivity Doc (LINK)</label>
        <input type="text" class="form-control" name="interfaceConnectivityDoc" id="interfaceConnectivityDoc" ng-model="txFields[31]">
    </div>
    <div class="col-md-4 mb-3">
        <label for="dailyOnlineVolumes">Daily Online Volumes Expected Schedule for real-time volumes</label>
        <input type="text" class="form-control" name="dailyOnlineVolumes" id="dailyOnlineVolumes" ng-model="txFields[32]">
    </div>
</div>
<div class="form-row">
    <div class="col-md-4 mb-3">
        <label for="retryMechanism">Retry Mechanism (Y/N)</label>
        <input type="text" class="form-control" name="retryMechanism" id="retryMechanism" ng-model="txFields[33]">
    </div>
    <div class="col-md-4 mb-3">
        <label for="retryMechanismExplanation">Retry Mechanism Explanation</label>
        <input type="text" class="form-control" name="retryMechanismExplanation" id="retryMechanismExplanation" ng-model="txFields[34]">
    </div>
    <div class="col-md-4 mb-3">
        <label for="batchesOrPeaks">Batches or Peaks for real-time volumes</label>
        <input type="text" class="form-control" name="batchesOrPeaks" id="batchesOrPeaks" ng-model="txFields[35]">
    </div>
</div>
<div class="float-left">
    <a ui-sref="create-tx.section3">
        <button class="btn btn-primary btn-lg font-weight-bold">Previous</button>
    </a>
</div>
<div class="float-right">
    <a ui-sref="create-tx.section5">
        <button class="btn btn-primary btn-lg font-weight-bold">Next</button>
    </a>
</div>
