<ng-form name="section7">
<div class="form-row">
    <div class="col-md-8 mb-3">
        <label for="batchesOrPeaksForRealtimeVolumes">Batches or Peaks for Realtime Volumes*</label>
        <input type="text" class="form-control" name="batchesOrPeaksForRealtimeVolumes" id="batchesOrPeaksForRealtimeVolumes" ng-model="txBuDetails.batchesOrPeaksForRealtimeVolumes" ng-pattern-restrict="{{pattern}}" required>
        <div ng-messages="section7.batchesOrPeaksForRealtimeVolumes.$error">
            <p ng-if="section7.$submitted" ng-message="required" style="color:maroon" role="alert">Required Field</p>
        </div>
    </div>
    <div class="col-md-4 mb-4">
        <label for="initialScreeningResponseSla">Initial Screening Response SLA*</label>
        <input type="text" class="form-control" name="initialScreeningResponseSla" id="initialScreeningResponseSla" ng-model="txBuDetails.initialScreeningResponseSla" ng-pattern-restrict="{{pattern}}" required>
        <div ng-messages="section7.initialScreeningResponseSla.$error">
            <p ng-if="section7.$submitted" ng-message="required" style="color:maroon" role="alert">Required Field</p>
        </div>
    </div>
</div>
<div class="form-row">
    <div class="col-md-6 mb-4">
        <label for="thresholdSetForTimeouts">Threshold Set for Timeouts*</label>
        <input type="text" class="form-control" name="thresholdSetForTimeouts" id="thresholdSetForTimeouts" ng-model="txBuDetails.thresholdSetForTimeouts" ng-pattern-restrict="{{pattern}}" required>
        <div ng-messages="section7.thresholdSetForTimeouts.$error">
            <p ng-if="section7.$submitted" ng-message="required" style="color:maroon" role="alert">Required Field</p>
        </div>
    </div>
    <div class="col-md-6 mb-4 text-center">
        Any Batch Component (Y/N)*<br />
        <div style="padding-top: 13px;">
            <div class="form-check form-check-inline vertical-align">
                <input class="form-check-input" type="radio" name="anyBatchComponentYes" id="anyBatchComponentYes" value="true" ng-model="txBuDetails.anyBatchComponent" checked ng-required="!txBuDetails.anyBatchComponent">
                <label class="form-check-label" for="anyBatchComponentYes">Yes</label>
            </div>
            <div class="form-check form-check-inline vertical-align">
                <input class="form-check-input" type="radio" name="anyBatchComponentNo" id="anyBatchComponentNo" value="false" ng-model="txBuDetails.anyBatchComponent" ng-required="!txBuDetails.anyBatchComponent">
                <label class="form-check-label" for="anyBatchComponentNo">No</label>
            </div>
        </div>
        <div ng-if="section7.$submitted && (section7.anyBatchComponentYes.$pristine && section7.anyBatchComponentNo.$pristine)" style="color:maroon" role="alert">Required Field</div>
    </div>
</div>
<div class="form-row">
    <div class="col-md-6 mb-3">
        <label for="workflowOperationsWorkSchedule">Workflow Operations Work Schedule (EST)*</label>
        <input type="text" class="form-control" name="workflowOperationsWorkSchedule" id="workflowOperationsWorkSchedule" ng-model="txBuDetails.workflowOperationsWorkSchedule" ng-pattern-restrict="{{pattern}}" required>
        <div ng-messages="section7.workflowOperationsWorkSchedule.$error">
            <p ng-if="section7.$submitted" ng-message="required" style="color:maroon" role="alert">Required Field</p>
        </div>
    </div>
    <div class="col-md-6 mb-3">
        <label for="requestor">Requestor*</label>
        <input type="text" class="form-control" name="requestor" id="requestor" ng-model="txData.requestor" ng-pattern-restrict="{{pattern}}" required>
        <div ng-messages="section7.requestor.$error">
            <p ng-if="section7.$submitted" ng-message="required" style="color:maroon" role="alert">Required Field</p>
        </div>
    </div>
</div>
<div class="float-left">
    <a ui-sref="create-tx.section6">
        <button class="btn btn-primary btn-lg font-weight-bold">Previous</button>
    </a>
</div>
<div class="float-right">
    <button class="btn btn-primary btn-lg font-weight-bold" type="submit" ng-click="createTx(false)">Submit</button>
</div>
<div class="progress custom-progress">
    <div class="progress-bar progress-color" role="progressbar" style="width: 86%;" aria-valuenow="86" aria-valuemin="0" aria-valuemax="100">86%</div>
</div>
</ng-form>