<div class="modal-header">
    <h5 class="modal-title">Delete Selected Records?</h5>
    <button type="button" class="close" aria-label="Close" ng-click="cancel()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <label for="SOEID">SOEID:&nbsp</label>
            </div>
            <div class="col-md-7">
                <textarea id="SOEID" name="SOEID" rows="1" ng-model="SOEID" required></textarea>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5">
                <label for="reason">Reason for deletion:&nbsp</label>
            </div>
            <div class="col-md-7">
                <textarea id="reason" name="reason" rows="3" ng-model="reason" required></textarea>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary confirm-button" ng-disabled="validate()" ng-click="delete()">Confirm</button>
    <button type="button" class="btn btn-secondary" ng-click="cancel()">Cancel</button>
</div>