<hr />
<div class="create-form">
    <h3 class="text-center font-weight-bold" style="padding-bottom: 20px">Create Customer Screening Record</h3>
    <form name="form" ng-submit="createCx()" role="form">
        <div id="form-view" ui-view></div>
    </form>
</div>


<!--<form name="form" ng-submit="createCx()" role="form">
    <input type="text" name="fields" ng-model="fields[0]" placeholder="fields"><br />
    <input type="text" name="requestor" ng-model="requestor" placeholder="requestor"><br />
    <button type="submit">Submit</button>
</form>-->