<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="dependencies/bootstrap/4.3.1/bootstrap.css">
    <link rel="stylesheet" href="dependencies/ui-bootstrap/3.0.6/ui-bootstrap-csp.css">
    <link rel="stylesheet" href="dependencies/ui-grid/4.7.1/ui-grid.css">
    <link rel="stylesheet" href="styles/navbar.css">
    <link rel="stylesheet" href="styles/button.css">
    <link rel="stylesheet" href="styles/toggle.css">
    <link rel="stylesheet" href="styles/main-styles.css">
    <style type="text/css">
        [ng\:cloak], [ng-cloak], .ng-cloak {
            display: none !important;
        }
    </style>
    <title>CitiScreening Records Management System</title>
</head>
<body ng-app="app" ng-cloak class="ng-cloak">
    <div ng-controller="AppController">
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item dropdown" ng-if="isAdmin()">
                        <a href="" class="nav-link dropdown-toggle" roles="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            CREATE
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#!/create-cx">Customer Screening</a>
                            <a class="dropdown-item" href="#!/create-tx">Transaction Screening</a>
                        </div>
                    </li>

                    <li class="nav-item" ng-if="isAdmin()">
                        <a class="nav-link" ui-sref="read">SEARCH</a>
                    </li>
                    <li class="nav-item" ng-if="isAdmin()">
                        <a class="nav-link" ui-sref="archive">ARCHIVE</a>
                    </li>
                    <li class="nav-item" ng-if="isUser()">
                        <a class="nav-link" href="#!/login" ng-click="logout()">LOGOUT</a>
                    </li>
                </ul>
            </div>
            <div class="navbar-brand">
                <img src="images/citi-logo-transparent.png" width="52" height="36" style="left: auto; right: 0;" alt="Citi logo">
            </div>
        </nav>
    </div>

    <p class="h1" align="center" style="padding-top: 30px; font-weight: bold">CitiScreening Records Management System</p>
    <div class="container">
        <hr class="my-4" />
        <div ui-view ></div>
    </div>

    <script src="dependencies/jquery/3.3.1/jquery-3.3.1.js"></script>
    <script src="dependencies/jquery-ui/1.12.0/jquery-ui.js"></script>
    <script src="dependencies/popper/1.14.7/popper.js"></script>
    <script src="dependencies/bootstrap/4.3.1/bootstrap.js"></script>

    <script src="dependencies/angularjs/1.7.7/angular.js"></script>
    <script src="dependencies/angularjs/1.7.7/angular-touch.js"></script>
    <script src="dependencies/angularjs/1.7.7/angular-animate.js"></script>
    <script src="dependencies/angularjs/1.7.7/angular-aria.js"></script>
    <script src="dependencies/angularjs/1.7.7/angular-cookies.js"></script>
    <script src="dependencies/ui-router/1.0.22/angular-ui-router.js"></script>
    <script src="dependencies/ui-bootstrap/3.0.6/ui-bootstrap-tpls.js"></script>
    <script src="dependencies/ng-pattern-restrict/0.2.3/ng-pattern-restrict.js"></script>
    <script src="dependencies/angularjs/1.7.7/angular-messages.js"></script>

    <script src="dependencies/ui-grid/4.7.1/csv.js"></script>
    <script src="dependencies/ui-grid/4.7.1/pdfmake.js"></script>
    <script src="dependencies/ui-grid/4.7.1/vfs_fonts.js"></script>
    <script src="dependencies/ui-grid/4.7.1/lodash.min.js"></script>
    <script src="dependencies/ui-grid/4.7.1/jszip.min.js"></script>
    <script src="dependencies/ui-grid/4.7.1/excel-builder.dist.js"></script>
    <script src="dependencies/ui-grid/4.7.1/ui-grid.js"></script>

    <script src="scripts/app.js"></script>
    <script src="scripts/login.js"></script>
    <script src="scripts/read.js"></script>
    <script src="scripts/create.js"></script>
    <script src="scripts/modal.js"></script>
    <script src="scripts/archive.js"></script>
</body>
</html>